<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>acc</param-name>
        <param-value>2324</param-value>
    </context-param>
    <context-param>
        <param-name>amt</param-name>
        <param-value>10000</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
        <init-param>
            <param-name>pass</param-name>
            <param-value>1234</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Withdrawl</servlet-name>
        <servlet-class>Withdrawl</servlet-class>
        <init-param>
            <param-name>pin</param-name>
            <param-value>456</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ChkBal</servlet-name>
        <servlet-class>ChkBal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdrawl</servlet-name>
        <url-pattern>/Withdrawl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChkBal</servlet-name>
        <url-pattern>/ChkBal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
